html {
    scroll-behavior: smooth;
}

.home-page {

    header {
        background-color: var(--brand-green-light);
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        .header {
            background-color: var(--brand-green-light);
            padding: 10px 0px;
            display: none;
            @include media-breakpoint-down(md) {
                padding: 0 15px;
                display: flex;
            }
    
            .logo {
                font-size: 32px;
                font-weight: 400;
                span {
                    color: var(--brand-green);
                    font-size: 32px;
                    font-weight: 700;
                }
            }
    
            .menu ul {
                list-style: none;
                display: flex;
                margin-bottom: 0px;
                li a {
                    padding: 0px 5px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    color: var(--brand-green);
                    opacity: 0.7;
                    text-decoration: none;
                    &:active {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 20px;
                        color: var(--brand-green);
                    }
                }
            }
    
            .agendar {
                text-align: end;
                text-decoration: none;
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--brand-green);
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 18px;
                    border: 1px solid var(--brand-green);
                    padding: 10px 24px;
                    border-radius: 40px;
                }
            }

            .hamb-menu {
                display: block;
                background-image: url('/assets/images/icons/hamb-menu.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 40px;
                height: 40px;
            }

        }

        #mobile-modal {
            background-color: var(--brand-green);
            padding-top: 15px;
            padding-bottom: 27px;
            height: calc(100vh);
            overflow: auto;
            transition: height .3s ease-in-out;
            position: absolute;
            z-index: 1;
            display: none;
            position: fixed;

            .close-menu {
                display: block;
                background-image: url('/assets/images/icons/close.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 35px;
                height: 35px;
            }

            .logo {
                font-size: 32px;
                font-weight: 400;
                color: #FFFFFF;
                span {
                    font-size: 32px;
                    font-weight: 700;
                    color: #FFFFFF;
                }
            }
            .menu {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    li a {
                        color: #FFFFFF;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 31px;
                        letter-spacing: 0em;
                        opacity: 1;
                        text-decoration: none;
                    }
                }
            }

            .agendar {
                text-align: center;
                margin-bottom: 80px;
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--brand-green);
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 18px;
                    border: 1px solid var(--brand-green);
                    padding: 15px 50px;
                    border-radius: 40px;
                    background-color: $white;
                }
            }

            .socialMedia {
                .instagram {
                    content: '';
                    display: block;
                    background-image: url('/assets/images/icons/instagram.svg');
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 32px;
                }
                .facebook {
                    content: '';
                    display: block;
                    background-image: url('/assets/images/icons/facebook.svg');
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 32px;
                }
                .youtube {
                    content: '';
                    display: block;
                    background-image: url('/assets/images/icons/youtube.svg');
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }

    .topPage {
        background-color: var(--brand-green-light);
        height: 630px;
        @include media-breakpoint-down(md) {
            height: 1205px;
        }

        .contentTopo {

            button {
                display: flex;
                color: $white;
                background-color: var(--brand-green);
                border: 1px solid var(--brand-green);
                border-radius: 40px;
                font-size: 14px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                padding: 17px 32px;
                text-transform: uppercase;
                outline: none;
                align-items: center;
                @include media-breakpoint-down(md) {
                    display: flex;
                    margin: 0 auto;
                    margin-bottom: 60px;
                }
                &:before {
                    display: block;
                    content: '';
                    background-image: url('/assets/images/icons/whatsapp.svg'); 
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 16px;
                    width: 24px;
                    height: 24px;
                }
            }

            figure {
                margin-bottom: 0px;
                img {
                    width: 401px; 
                    height: 510px;
                    @include media-breakpoint-down(md) {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .content {
                span {
                    color: var(--brand-green);
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 21px;
                    letter-spacing: 0.08em;
                    text-align: left;
                    text-transform: uppercase;
                    margin-bottom: 16px;
                    @include media-breakpoint-down(md) {
                        margin-left: auto;
                        margin-right: auto;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 21px;
                        letter-spacing: 0.08em;
                    }
                }

                h1 {
                    color: var(--brand-text) ;
                    font-size: 52px;
                    font-weight: 700;
                    line-height: 68px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 24px;
                    @include media-breakpoint-down(md) {
                        font-size: 33px;
                        font-weight: 700;
                        line-height: 44px;
                        letter-spacing: 0em;
                        text-align: center;
                    }
                }

                p {
                    color: var(--brand-text-2);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 32px;
                    @include media-breakpoint-down(md) {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        letter-spacing: 0em;
                        text-align: center;
                    }
                }

            }
        }
    }

    .destaqueServices {
        background-color: var(--brand-beige);
        border: 1px solid var(--brand-green-light);
        padding: 60px 120px;
        position: relative;
        @include media-breakpoint-down(md) {
            background: none;
            padding: 0px 20px;
            border: none;
        }

        p {
            color: var(--brand-text);
            font-size: 48px;
            font-weight: 700;
            line-height: 62px;
            letter-spacing: 0em;
            margin-bottom: 4px;
            text-align: center;
            @include media-breakpoint-down(md) {
                margin-top: 40px;
            }        
        }

        span {
            color: var(--brand-green);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
        }

        .pacAtendidos, .espDisponiveis,
        .anosMercado { 
            background-color: var(--brand-beige);
        }

        .anosMercado {
            &:last-child {
                @include media-breakpoint-down(md) {
                    padding-bottom: 40px;
                }
            }
        }
        
        .border-rightServices {
            border-right: 1px solid var(--brand-green);
            @include media-breakpoint-down(md) {
                border: none;
            }
        }
    }

    .services {
        padding-top: 210px;
        padding-bottom: 160px;
        background-color: var(--brand--green-light-02);
        @include media-breakpoint-down(md) {
            padding-top: 260px;
            padding-bottom: 55px;
        }

        .servicesTitle {
            span {
                color: var(--brand-green);
                font-size: 14px;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0.08em;
                text-align: left;
                text-transform: uppercase;
            }
            h2 {
                color: var(--brand-text);
                font-size: 40px;
                font-weight: 700;
                line-height: 52px;
                letter-spacing: 0em;
                text-align: center;
                @include media-breakpoint-down(md) {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 39px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
        }

        .servicesOffer {

            .box {
                background-color: $white;
                padding: 24px 24px;
                border: 1px solid var(--brand-green-light);
                max-width: 340px;
                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
                h2 {
                    color: var(--brand-text);
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 31px;
                    letter-spacing: 0em;
                    &:before {
                        content: '';
                        display: block;
                        background-image: url('/assets/images/icons/check-ok.png');
                        width: 24px;
                        height: 24px;
                        margin-bottom: 16px;
                    }
                }
                p {
                    color: var(--brand-text-2);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
    }

    
    .sobre {
        background-color: var(--brand-beige);

        .conteudoSobre {
            padding-top: 160px;
            padding-bottom: 160px;
            @include media-breakpoint-down(md) {
                padding: 100px 0px;
            }

            img {
                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }

            span {
                font-size: 14px;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0.08em;
                text-align: left;
                text-transform: uppercase;
                color: var(--brand-green);
                margin-bottom: 10px;
                @include media-breakpoint-down(md) {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 21px;
                    letter-spacing: 0.08em;
                    text-align: left;
                }
            }
            h2 {
                font-size: 40px;
                font-weight: 700;
                line-height: 52px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--brand-text);
                margin-bottom: 24px;
                @include media-breakpoint-down(md) {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 39px;
                    letter-spacing: 0em;
                }
            }
            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--brand-text-2);
                @include media-breakpoint-down(md) {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                margin-bottom: 60px;
                }
            }
        }
    }

    .contato {
        .conteudoContato {
            margin-top: 160px;
            margin-bottom: 160px;
            @include media-breakpoint-down(md) {
                margin-top: 100px;
                margin-bottom: 100px;
            }
            h2 {
                font-size: 40px;
                font-weight: 700;
                line-height: 52px;
                letter-spacing: 0em;
                text-align: left;
                max-width: 400px;
                margin-bottom: 40px;
                @include media-breakpoint-down(md) {
                    font-size: 30px;
                    line-height: 39px;
                }
            }
            .address {
                display: flex;
                color: var(--brand-green-hover);
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 16px;
                @include media-breakpoint-down(md) {
                    font-size: 16px;
                    line-height: 24px;
                }
                &:before {
                    content: '';
                    display: block;
                    background-image: url('/assets/images/icons/map-pin.svg');
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 16px;
                }
            }
            .email {
                display: flex;
                color: var(--brand-green-hover);
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 40px;
                @include media-breakpoint-down(md) {
                    font-size: 16px;
                    line-height: 24px;
                }
                &:before {
                    content: '';
                    display: block;
                    background-image: url('/assets/images/icons/mail.svg');
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 16px;
                }
            }
            button {
                display: flex;
                color: $white;
                background-color: var(--brand-green);
                border: 1px solid var(--brand-green);
                border-radius: 40px;
                font-size: 14px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                padding: 17px 32px;
                text-transform: uppercase;
                outline: none;
                align-items: center;
                @include media-breakpoint-down(md) {
                    margin-bottom: 60px;
                }
                &:before {
                    content: '';
                    display: block;
                    background-image: url('/assets/images/icons/whatsapp.svg');
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 16px;
                }
            }
            img {
                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }
        }
    }

    footer {
        background-color: var(--brand-green);
        padding: 80px 0px;

        .content {
            .logo {
                color: $white;
                font-size: 40px;
                margin-bottom: 15px;
            }

            span {
                color: $white;
                font-weight: 700;
                font-size: 40px;
            }

            p {
                color: $white;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
            }
        }

        .socialMedia {
            .instagram {
                content: '';
                display: block;
                background-image: url('/assets/images/icons/instagram.svg');
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 32px;
            }
            .facebook {
                content: '';
                display: block;
                background-image: url('/assets/images/icons/facebook.svg');
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 32px;
            }
            .youtube {
                content: '';
                display: block;
                background-image: url('/assets/images/icons/youtube.svg');
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

}